<div class="login-box">
    <h1>
        Welcome to the Pokemon Trainer Hub!
    </h1>
    <p>
        To continue, please log in with your username:
    </p>
    <app-login-form (login)="handleLogin()"></app-login-form>
</div>
