.nav-bar {
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #41337a;
    margin: -1rem;
    padding: 1rem;
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
}

.nav-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pikatchu-img {
    width: 64px;
    height: 64px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1rem;
    margin-left: auto;
}

mat-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}