<div class="nav-bar">
    <a [routerLink]="['/']">
        <div class="nav-title">
            <img src="../../../assets/images/pikachu-png-icon.png" class="pikatchu-img"/>
            <div>
                Pokemon Trainer Hub
            </div>
        </div>
    </a>

    <!-- display only on pages that are different than landing page -->
    <div *ngIf="this.routeUrl !== '/login'" class="nav-bar-links">
        <!-- display one of the links depending on which route the user is currently in -->
        <a *ngIf="this.routeUrl === '/catalogue'" routerLink="/trainer">
            <mat-icon>face</mat-icon>
            Trainer
        </a>
        <a *ngIf="this.routeUrl === '/trainer'" routerLink="/catalogue">
            <mat-icon>book</mat-icon>
            Catalogue
        </a>
        <a (click)="logout()" style="cursor: pointer">
            <mat-icon>logout</mat-icon>
            Log out
        </a>
    </div>
</div>
