<h1>
    Catalogue
</h1>
<div class="catalogue-list">
    <app-pokemon-card *ngFor="let pokemon of pokemonList! | paginate: { itemsPerPage: resultsPerPage, currentPage: p }" [pokemon]="pokemon" [isRemovable]="false"></app-pokemon-card>
</div>

<pagination-controls class="catalogue-paginator" (pageChange)="p = $event"></pagination-controls>