.catalogue-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.catalogue-paginator ::ng-deep .ngx-pagination .current {
    background-color: #41337a;
    border-radius: 0.5rem;
}