

.login-form {
    width: 60%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.login-input {
    font-family: inherit;
    font-size: inherit;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #c2efeb;
}

.login-input:focus {
    outline-width: 0;
    border: 2px solid #41337a !important;
}

.login-button {
    font-size: inherit;
    font-family: inherit;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 700;
    background-color: #c2efeb;
}

.login-button:hover {
    color: white;
    background-color: #41337a;
}

.login-button:disabled {
    background-color: #ecfee8;
    color: gray;
}