<form class="login-form" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <input type="text" class="login-input" 
     ngModel
     #username="ngModel"
     required
     minlength="3"
     name="username" id="username" 
     placeholder="username" input input-border/>

     <button class="login-button" type="submit" [disabled]="loginForm.form.invalid">
        Continue
    </button>
</form> 

