/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4 {
    font-family: 'Bree Serif', serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 1rem !important;
}