<div class="pokemon-card">
    <img src="{{pokemon.avatar}}" onerror="this.src = '../../assets/images/placeholder-pokeball.png', this.style='width: 96px; height: 96px'" />
    <p>{{pokemon.name}}</p>
    <button *ngIf="isRemovable === true; else add_pokemon_btn" (click)="click()" class="remove-btn">
        REMOVE
    </button>
</div>

<ng-template #add_pokemon_btn>
    <button [disabled]="isCaught()" (click)="click()" class="catch-btn">
        {{isCaught() ? 'CAUGHT' : 'CATCH'}}
    </button>
</ng-template>