.pokemon-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.5rem;
    padding: 1rem;
}

.remove-btn {
    margin-left: auto;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 2px solid #EF70A1;
    background-color: white;
}

.remove-btn:hover {
    background-color: #900C3F;
    border: 2px solid #900C3F;
    color: white;
}

.catch-btn {
    margin-left: auto;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 2px solid #c2efeb;
    background-color: white;  
}

.catch-btn:hover {
    background-color: #41337a;
    border: 2px solid #41337a;
    color: white;
}

.catch-btn:disabled {
    border: 2px solid #ecfee8;
    background-color: #ecfee8;
    color: gray;
}