.pokemon-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.catalogue-link {
    color: #41337a;
    text-decoration: none;
    font-weight: 700;
}