<h1>Hey, {{trainer?.username}}!</h1>

<div>
    <div *ngIf="trainerPokemon.length > 0; else trainer_no_pokemons">
        <h2>
            Your pokemons:
        </h2>
        <div  class="pokemon-list">
            <app-pokemon-card (update)="handleTrainerUpdate()" *ngFor="let pokemon of trainerPokemon" [pokemon]="pokemon">
            </app-pokemon-card>
        </div>    
    </div>
</div>

<!-- handle users that don't have any pokemons yet -->
<ng-template #trainer_no_pokemons>
    <div>
        <h2>
            You don't have any pokemons yet!
        </h2>
        <p>
            Go ahead and catch the first one
            <a routerLink="/catalogue" class="catalogue-link">
                here!
            </a>
        </p>
    </div>
</ng-template>
